.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
}

.plainLink {
    color: #4C4CFF;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
