.container {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    min-height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1240px;
    max-height: 800px;
    width: 100%;
    justify-items: center;
}
